# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CMake build and output folders
build/
bin/
lib/

# gcov files
*.gcov

# Emacs backup files
*~

# Text files except CMake files
*.txt
!input.txt
!pot_example.txt
!negative_axis_pot.txt
!Cmake*.txt







